<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<style>
  .custom-width {
    max-width: 500px;
    background-color: #e7eaec;
    border-radius: 10px;
  }
  .btn-primary {
    background-color: #263134;
    border-color: #263134;
  }
  /* .nav-link {
    color: #263134;
    transition: all 0.2s ease-in-out;
  }
  .nav-link:hover {
    color: #ffff !important;
    background-color: #2667ff;
  } */
</style>
</head>
<body>

<div class="container-lg p-5 ">
  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6 custom-width">

      <ul class="nav nav-pills nav-justified mb-3 mt-5 m-5" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <h3 class="text-center fw-bolder">Edit Hewan</h3>
        </li>
      </ul>

      <div class="tab-content m-5">
        <div class="tab-pane fade show active" id="addAnimal" role="tabpanel" aria-labelledby="tab-addAnimal">
          <% if (errorMessage) { %>
            <div class="alert alert-danger"><%= errorMessage %></div>
          <% } %>
          <form action="/api/animals/admin/<%= animal.id %>?_method=PATCH" method="POST">

            <div class="form-outline mb-4 fw-bolder">
              <input type="text" id="edit-animalType" class="form-control" name="type" placeholder="Type" value="<%= animal.type %>" list="typeOptions"/>
              <datalist id="typeOptions">
                <option value="kambing"></option>
                <option value="sapi"></option>
                <option value="sapi"> </option>
              </datalist>
            </div>

            <div class="form-outline mb-4 fw-bolder">
              <input type="number" id="edit-animalPrice" class="form-control" name="price" value="<%= animal.price %>" placeholder="Price" />
            </div>

            <div class="form-outline mb-4 fw-bolder">
              <input type="text" id="edit-animalWeight" class="form-control" name="weight" value="<%= animal.weight %>" placeholder="Weight" />
            </div>

            <div class="form-outline mb-4 fw-bolder">
              <input type="text" id="edit-animalStatus" class="form-control" name="status" value="<%= animal.status %>" placeholder="status" list="statusOptions" />
              <datalist id="statusOptions">
                <option value="available"></option>
                <option value="sold"></option>
              </datalist>
            </div>

            <div class="form-outline mb-4 fw-bolder">
              <input type="text" id="edit-animalgender" class="form-control" name="gender" value="<%= animal.gender %>" placeholder="Gender"/>
            </div>

            <div class="form-outline mb-4 fw-bolder">
              <input type="number" id="edit-animalAge" class="form-control" name="age" value="<%= animal.age %>" placeholder="Age"/>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-outline-primary btn-block mb-4 mt-3">submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
